.mainNav{
    width: 100%;
    height: 10rem;
    display: grid;
    grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
    box-shadow: rgba(50,50,93,0.25) 0 50px 100px,rgba(0,0,0,0.3) 0 30px 60px -30px;
}
.logo{
    display: flex;
    grid-column: 2/3;
    justify-content: start;
    align-items: center;
    font-size: 30px;
    background:-webkit-linear-gradient(#0f0c29,#302b63,#24243e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menuLink{
    grid-column: 3/4;
}
.menuLink ul{
    list-style: none;
    height: 10rem;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.menuLink ul li a{
    text-transform: capitalize;
    text-decoration: none;
    font-size: 20px;
}
.menuLink ul li:hover>a{
    transition:0.3s;
    color:rgba(206, 105, 34, 0.5);
}
.socialMedia{
    grid-column: 4/5;
}
.socialMedia ul{
    list-style: none;
    height: 10rem;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.socialMedia ul li{
    font-size: 20px;
}
.facebook{
    color: dodgerblue;
}
.instagram{
    color:#d02b8b;
}
.whatsapp{
    color:#2fc21c;
}
.heroSection{
    font-size: 1.5rem;
    font-family: 'Hubballi', cursive;
    margin-top: 200px;
    text-align: center;
}
.hamburgerMenu{
    display: none;
}
@media (max-width:1080px){
    .mainNav{
        height: 8rem;
        grid-template-columns: 2rem 3fr 3fr 1fr 2rem;
    }
    .logo,
    .menuLink ul,
    .socialMedia ul{
        height: 8rem;
    }
}
@media (max-width:998px){
    .mainNav{
        height: 7rem;
        grid-template-columns: 2rem 2fr 3fr 2fr 2rem;
    }
    .menuLink{
        display: none;
    }
    .logo,
    .socialMedia ul{
        height: 7rem;
    }
    .mobileMenuLink{
        grid-column: 2/4;
        position: relative;
        z-index: 99;
    }
    .mobileMenuLink{
        height: 20rem;
        display: grid;
        grid-column: 2/5;
        align-items: center;
        padding-left: 3rem;
        transition: all 2s linear;
    }
    .socialMedia{
        grid-row: 1/2;
        grid-column: 3/5;
        justify-items: end;
        align-items: center;
        transition: all 2s linear;

    }
    .socialMediaDesktop li{
        height: 0;
        display: none;
    }
    .socialMedia{
        height: 7rem;
        display: block;
        justify-self: end;
        align-items: center;
    }
    .socialMedia .hamburgerMenu{
        margin-top: -100px;
        display: block;
        font-size: 2.5rem;
    }
}